* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #f0f0f0;
  background-color:#269;
  background-image: linear-gradient(transparent 2px, transparent 2px),
  linear-gradient(90deg, transparent 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.15) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.15) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
  animation: moveBackground 50s linear infinite;
}

@keyframes moveBackground {
  from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.main {
  margin: 0 auto;
  margin-top: calc(50vh - 108px);
  background: rgba(16, 76, 123, 0.66);
  padding: 20px;
  box-shadow: 0 2px 6px #444;
  width: 60%;
  transform: skew(-20deg);
}

.main > * {
  transform: skew(20deg);
}

.links a {
  padding: 12px 16px;
  background: #F10C49;
  display: inline-block;
  min-width: 120px;
  font-size: 1.15em;
  text-decoration: none;
  color: #eee;
  transform: skew(-20deg);
  margin-left: 8px;
  margin-top: 8px;
  font-size: 0.9em;
}

.links a > div {
  transform: skew(20deg);
}

.links a:hover {
  color: #fff;
  box-shadow: 0 0 4px #eee;
  cursor: pointer;
}

h1 {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 8px;
}

h5 {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 2em;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  font-size: 0.9em;
}

.imaginea-logo {
  height: 30px;
}
