# Editor specific files
.idea
.vscode

# Node and JSPM packages
node_modules
jspm_packages

# Log files
npm-debug.log*

# build files
public/app.js
public/app.js.map
public/app.css
public/app.css.map
public/jspm_packages
styles/app.css
