pa-data {
  pa-panel {
    height: 100%;
    
    & > div {
      height: 100%;
      
      .content {
        height: calc(100% - 22px);
        overflow-y: auto;
      }  
    }
  }
  
  .command-bar {
    margin: -2px -13px;
    padding: 2px 12px;
    position: absolute;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 6px;
    color: $white;
    
    i:hover {
      cursor: pointer;
    }
  }
  
  .data-table {
    width: 100%;
    margin-top: 24px;
    
    td {
      padding: 4px 0 5px;
    
      .vname {
        cursor: pointer;
        border-radius: 16px;
        background: #e0ceff;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px 8px;
        color: #593598;
      }
    }
  }
}
