pa-data {
  pa-panel {
    height: 100%;
    
    & > div {
      height: 100%;
      
      .content {
        height: calc(100% - 22px);
        overflow-y: auto;
      }  
    }
  }
  
  .command-bar {
    margin: -2px -13px;
    padding: 2px 12px;
    position: absolute;
    width: 100%;
    background: $dark-gray;
    margin-bottom: 6px;
    color: $white;
    
    i:hover {
      cursor: pointer;
    }
  }
  
  .variables, .iterables {
    list-style: none;
    margin-top: 28px;
    padding-left: 2px;
    
    .vname {
      display: inline-block;
      width: 25%;
      cursor: pointer;
      border-radius: 16px;
      background: $light-gray;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 2px 16px;
      color: $dark-gray;
      margin-bottom: 2px;
    }
    
    .vvalue {
      display: inline-block;
      width: calc(75% - 5px);
      vertical-align: top;
      padding: 2px 24px;
    }
  }
}
