.editor-space {
  height: calc(100% - 158px);
}

.sidebar {
  border-right: 1px solid $xl-amethyst;
  background: $xxl-amethyst;
}

.command-entry.selected {
  font-weight: bold;
  color: $dark-amethyst;
}
