.editor-space {
  height: calc(100% - 156px);
}

.sidebar {
  background: $xxl-color;
  
  pa-panel > div {
    border-right: 1px solid $secondary-color;
  }
}

.command-bar {
  .command-set {
    padding: 4px 0;
  
    &:empty {
      display: none;
    }
  }
  
  .command-entry {
    cursor: pointer;
    
    &:hover {
      color: $amethyst;  
    }
    
    span {
      padding: 2px 8px;
    }
    
    span:first-child {
      float: left;
      color: #888;
    }
    
    span:last-child {
      float: right;
      font-weight: bold;
    }
    
    &.selected span {
      font-weight: bold;
      color: $dark-amethyst;
    }
  }
}
