.pa-panel {
  // border-bottom: 1px solid $xl-amethyst;
  
  & > .title {
    background: linear-gradient($primary-color, $secondary-color);
    color: $white;
    text-align: center;
  }

  & > .content {
    background: $xxl-amethyst;
  }
  
  & > div {
    padding: 2px 12px;
  }
}
