pa-visualizations {
  pa-panel {
    border-bottom: 1px solid $secondary-color;
  }
  
  .content {
    padding: 12px !important;
    white-space: nowrap;
    
    &>* {
      vertical-align: middle;
    }
  }
  
  pa-vis-preview {
    display: inline-block;
    margin-right: 16px;
    width: 96px;
    cursor: pointer;
  }
  
  .vis-preview,
  pa-create-vis {
    display: inline-block;
    height: 80px;
    width: 96px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .vis-preview {
    background: $white;
  }
  
  pa-create-vis {
    cursor: pointer;
    border: none;
    font-size: 3em;
    text-align: left;
    width: auto;
    
    i:hover {
      color: $secondary-color;
    }
  }
  
  pa-vis-preview {
    &.selected {
      .vis-preview {
        border: 1px solid $primary-color;
        box-shadow: 0 0 8px $secondary-color;
      }
      
      .vis-name {
        color: $dark-amethyst;
      }
    }
    
    .vis-name {
      text-align: center;
      cursor: pointer;
      border-radius: 16px;
      background: #e6e6e6;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 1px 8px;
    }
    
    input {
      width: 100%;
      text-align: center;
      border-radius: 16px;
      border: 1px solid $primary-color;
      
      &:focus {
        padding: 0px;
        outline: none;
      }
    }
  }
  
  .vis-preview+div {
    margin-top: 4px;
  }
}
