$amethyst: #7e57c2;
$dark-amethyst: #452B72;
$light-amethyst: #fef;
$xl-amethyst: #e0ceff;
$xxl-amethyst: #fafaff;

$cherry-cream: #F54828;

$spring-warmth: #F49020; // #FFC52C;

$pristine-green: #88C425;
$green: $spring-warmth;
$dark-green: #1F6764;
$light-green: #92C7A3;
$xl-green: #c9e3d1;
$xxl-green: #f9fffc;

$xd-blue: #282931;
$dark-blue: #003154;
$blue: #269;
$bright-blue: #00DFFC;

$magenta: #FF3D5A;
$dark-magenta: #F10C49;
$xxl-magenta: #fff3f6;

$light-gray: #f2f2f2;
$xxl-gray: #fcfcfc;
$gray: #aaa;
$dark-gray: #333;

$bright-color: $bright-blue;
$primary-color: $blue;
$secondary-color: $dark-blue;
$light-color: $light-gray;
$xxl-color: $xxl-gray;
$alternate-color: $dark-magenta;
$danger-color: $magenta;

$white: #ffffff;

$normal-font-color: $dark-gray;

$primary-fonts: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial';
$header-fonts: 'Muli', 'Arial';
$mono-fonts: Ubuntu Mono, Menlo, Monaco, Consolas, Lucida Console, dejavu sans mono, monospace;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-fonts;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  color: $normal-font-color;
  background: #f2f2f2;
  letter-spacing: 0.1px;
}

// @include scrollbars(.5em, $light-color);
