$amethyst: #7e57c2;
$dark-amethyst: #452B72;
$light-amethyst: #fef;
$xl-amethyst: #e0ceff;
$xxl-amethyst: #fafaff;

$cherry-cream: #F54828;

$green: #88C425;
$dark-green: #1F6764;
$light-green: #92C7A3;
$xl-green: #c9e3d1;
$xxl-green: #f9fffc;

$dark-blue: #104c7b;
$blue: #269;

$dark-magenta: #F10C49;
$xxl-magenta: #fff3f6;

$light-gray: #f2f2f2;
$xxl-gray: #fcfcfc;
$gray: #aaa;
$dark-gray: #555;

$primary-color: $blue;
$secondary-color: $dark-blue;
$light-color: $light-gray;
$xxl-color: $xxl-gray;
$alternate-color: $dark-magenta;
$danger-color: #FF3D5A;

$white: #ffffff;

$normal-font-color: $dark-gray;

$primary-fonts: 'Rubik', 'Helvetica Neue', 'Helvetica', 'Arial';
$header-fonts: 'Arial';
$mono-fonts: Ubuntu Mono, Menlo, Monaco, Consolas, Lucida Console, dejavu sans mono, monospace;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-fonts;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  color: $normal-font-color;
}

// @include scrollbars(.5em, $light-color);
