pa-step-summary,
pa-vis-canvas,
pa-command-bar,
pa-canvas {
  display: block;
}

pa-canvas {
  & > div {
    height: 100%;
  }
  
  & > div:focus {
    outline: none;
  }
}

pa-step-summary {
  text-align: center;
}

pa-vis-canvas {
  height: calc(100% - 20px);

  .pa-statusbar {
    font-family: Ubuntu Mono, Menlo, Monaco, Consolas, Lucida Console, dejavu sans mono, monospace;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #111;
    border-top: 1px solid #aaa;
    background: #e2e2e2;
    padding: 2px 8px;
    height: 20px;
    overflow: hidden;
  }
}

.canvas {
  padding: 16px 0;
  height: 100%;
  text-align: center;
  
  svg {
    border: 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
  }
}

.right-canvas {
  width: 160px;
}

.left-canvas {
  width: calc(100% - 120px);
  padding-top: 24px;
  height: 100%;
}

pa-command-bar {
  position: absolute;
  top: 72px;
  bottom: 40px;
  right: 0;
  width: 120px;
  
  .title {
    padding: 4px 8px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .command-set {
    border-bottom: 1px solid $light-amethyst;
  }
}
