* {
  margin: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.col {
  min-height: 200px;
  background: #fff4f4;
  border: 1px solid #9d9d9d;
}
