$amethyst: #7e57c2;
$dark-amethyst: #593598;
$light-amethyst: #fef;
$xl-amethyst: #e0ceff;
$xxl-amethyst: #fff9ff;

$primary-color: $amethyst;
$secondary-color: $dark-amethyst;
$white: #ffffff;

$primary-fonts: 'Catamaran', 'Helvetica Neue', 'Helvetica', 'Arial';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-fonts;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
