pa-data {
  pa-panel {
    height: 100%;
    
    & > div {
      height: 100%;
      
      .content {
        height: calc(100% - 22px);
        overflow-y: auto;
      }  
    }
  }
  
  .command-bar {
    margin: -2px -13px;
    padding: 2px 12px;
    position: absolute;
    width: 100%;
    margin-bottom: 6px;
    font-size: 1em;
    color: $secondary-color;
    
    i:hover {
      cursor: pointer;
    }
  }
  
  .variables, .iterables {
    list-style: none;
    margin-top: 28px;
    padding-left: 2px;
    
    .vname {
      
    }
    
    .vname span,
    .vname input {
      display: inline-block;
      width: 25%;
      min-width: 80px;
      padding: 2px 16px;
      border-radius: 16px;
    }
    
    .vname span {
      cursor: pointer;
      background: $light-gray;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $dark-gray;
    }
    
    .vname input {
      color: $dark-gray;
      outline: none;
      border: 1px solid $dark-gray;
    }
    
    .vvalue span,
    .vvalue input {
      display: inline-block;
      vertical-align: top;
      //width: calc(75% - 21px);
      margin-left: 16px;
      padding: 2px 16px;
      border-radius: 16px;
    }
    
    .vvalue span {
      color: $dark-gray;
      cursor: ew-resize;
    }
    
    .vvalue input {
      outline: none;
      border: 1px solid $dark-gray;
    }
  }
}
