pa-editor {
  width: calc(100% - 108px) !important;
}

.editor-space {
  height: calc(100%);
}

.sidebar {
  background: $xxl-gray;

  .panel-toggles {
    background: $secondary-color;
    text-align: center;
    padding: 4px 0;
    font-size: 0;

    .visualizations-toggle {
      font-size: 16px;
      color: $light-gray;
      position: absolute;
      left: 12px;
      top: 5px;
      display: inline-block;
      cursor: pointer;

      &.toggled {
        color: $bright-color;
      }
    }

    input[type="checkbox"] {
      left: -1000px;
      position: fixed;
    }

    label {
      font-size: 12px;
      color: $gray;
      margin: 0;
      padding: 2px 0;
      min-width: 72px;
      text-align: center;
      font-weight: normal;
      border: 1px solid $gray;
      border-right: none;
      background: $light-color;
      color: $primary-color;
      opacity: 0.8;
      box-shadow: inset 0 0 8px #888;
    }

    label:last-child {
      border: 1px solid $gray;
    }

    input[type="checkbox"]:checked + label {
      opacity: 1;
      box-shadow: none;
    }
  }

  .split-1 {
    height: calc(100% - 31px)
  }

  .split-2 {
    height: calc((100% - 31px) / 2)
  }

  .split-3{
    height: calc((100% - 31px) / 3)
  }

  .pa-panel {
    .content {
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

    }
  }
}

.command-bar {
  background: transparent;
  border-right: none;
  border-left: 1px solid #ddd;
  padding: 2px 8px;

  .command-set {
    padding: 4px 0;

    &:empty {
      display: none;
    }
  }

  .command-entry {
    cursor: pointer;

    &:hover {
      color: $amethyst;
    }

    span {
      padding: 2px 8px;
    }

    span:first-child {
      float: left;
      color: #888;
    }

    span:last-child {
      float: right;
      font-weight: bold;
      font-family: $mono-fonts;
    }

    &.selected span {
      color: $alternate-color;
    }
  }
}
