pa-editor {
  width: calc(100% - 108px) !important;
}

.editor-space {
  height: calc(100%);
}

.sidebar {
  background: $xxl-gray;

  .pa-panel {
    .title {
      border-right: 1px solid $secondary-color;
      border-bottom: 1px solid $secondary-color;
    }

    .content {
      border-right: 1px solid #aaa;
      border-bottom: 1px solid #aaa;
     
    }
  }
}

.command-bar {
  background: $xxl-gray;
  border: 1px solid $light-gray;
  border-right: none;

  .command-set {
    padding: 4px 0;
  
    &:empty {
      display: none;
    }
  }
  
  .command-entry {
    cursor: pointer;
    
    &:hover {
      color: $amethyst;  
    }
    
    span {
      padding: 2px 8px;
    }
    
    span:first-child {
      float: left;
      color: #888;
    }
    
    span:last-child {
      float: right;
      font-weight: bold;
      font-family: $mono-fonts;
    }
    
    &.selected span {
      color: $alternate-color;
    }
  }
}
