.pa-panel {
  // border-bottom: 1px solid $xl-amethyst;

  & > .title {
    background: $dark-gray;
    color: $white;
  }

  & > .content {
    background: $white;
  }

  & > div {
    padding: 2px 12px;
  }
}
