.pa-panel {
  // border-bottom: 1px solid $xl-amethyst;

  & > .title {
    background: $secondary-color;
    color: $white;
  }

  & > .content {
    background: $white;
  }

  & > div {
    padding: 5px 12px;
  }
}
