.pa-panel {
  // border-bottom: 1px solid $xl-amethyst;
  
  & > .title {
    background: $secondary-color;
    color: $white;
  }

  & > .content {
    background: $xxl-gray;
  }
  
  & > div {
    padding: 2px 12px;
  }
}
