ul.steps {
  list-style: none;
  padding: 0;
  margin: -2px -12px;
  
  & > li {
    padding: 6px 12px;
    border-bottom: 1px solid $light-gray;
    cursor: pointer;
    
    .step-summary {
      color: $dark-gray;
      text-align: left;
      font-size: inherit;
      cursor: pointer;
    }

    &.selected .step-summary {
      color: $alternate-color;
    } 
  }
}

pa-panel[header="Steps"] {
  height: 100%;
  
  .pa-panel {
    height: 100%;
  
    .content {
      height: calc(100% - 22px);
      overflow: auto;
    }
  }

  .step-note {
    padding: 8px 0;
    text-align: center;
  }
}
