pa-visualizations {
  width: 108px !important;
  height: 100%;
  overflow-y: auto;
  box-shadow: 2px 0 4px #ddd;

  pa-panel, .pa-panel {
    height: 100%;
    
    .content, .title {
      text-align: center;
      background: #333;
    } 
  }
  
  .content {
    padding: 12px 0 !important;
    text-align: center;
    height: calc(100% - 22px);

    &>* {
      vertical-align: middle;
    }
  }
  
  pa-vis-preview {
    display: inline-block;
    margin-bottom: 8px;
    width: 96px;
    cursor: pointer;
    position: relative;
  }
  
  .vis-preview,
  pa-create-vis {
    display: inline-block;
    height: 80px;
    width: 96px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .vis-preview {
    background: $white;
  }
  
  pa-create-vis {
    cursor: pointer;
    border: none;
    font-size: 3em;
    text-align: left;
    width: auto;
    color: $white;
    
    i:hover {
      color: $alternate-color;
    }
  }
  
  pa-vis-preview {
    &.selected {
      .vis-preview {
        border: 3px solid $alternate-color;
        box-shadow: 0 0 12px $alternate-color;
      }
      
      .vis-name {
        color: $primary-color;
      }
    }
    
    .vis-name {
      text-align: center;
      cursor: pointer;
      border-radius: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 1px 8px;
      position: absolute;
      top: 31px;
      left: 12px;
    }
    
    input {
      width: 100%;
      text-align: center;
      border-radius: 16px;
      border: 1px solid $primary-color;
      
      &:focus {
        padding: 0px;
        outline: none;
      }
    }
  }
}
