pa-visualizations {
  width: 108px !important;
  height: 100%;
  overflow-y: auto;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.3);
  z-index: 1;

  pa-panel, .pa-panel {
    height: 100%;

    .content, .title {
      text-align: center;
      background: #333;
    }
  }

  .content {
    padding: 12px 0 !important;
    text-align: center;
    height: calc(100% - 22px);

    & > * {
      vertical-align: middle;
    }
  }

  pa-vis-preview {
    display: inline-block;
    margin-bottom: 4px;
    width: 96px;
    cursor: pointer;
    position: relative;
  }

  .vis-preview,
  pa-create-vis {
    display: inline-block;
    height: 80px;
    width: 96px;
    border: 1px solid #ddd;
    text-align: center;
  }

  .vis-preview {
    background: $white;
    border: 3px solid #333;
    transition: 0.3s all linear;

    &:after {
      content: "";
      border: 0;
      border-left: 8px solid transparent;
      position: absolute;
      right: -6px;
      top: calc(50% - 8px);
      height: 0;
      width: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      transition: 0.3s all linear;
    }

    .vis-preview-content {
      height: 100%;
      width: 100%;
      opacity: 0.1;
    }

    .del-icon {
      position: absolute;
      right: 5px;
      display: none;
      z-index: 10;

      &:hover {
        color: $danger-color;
      }
    }

    &:hover {
      .del-icon {
        display: initial;
      }
    }
  }

  pa-create-vis {
    cursor: pointer;
    border: none;
    font-size: 3em;
    text-align: left;
    width: auto;
    color: $white;

    i:hover {
      color: $alternate-color;
    }
  }

  pa-vis-preview {
    &.selected {
      .vis-preview {
        border: 3px solid $green;

        &:after {
          border-left-color: $green;
        }
      }

      .vis-name {
        color: $primary-color;
      }
    }

    .vis-name {
      text-align: center;
      cursor: pointer;
      border-radius: 16px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 1px 8px;
      position: absolute;
      top: 31px;
      left: 12px;
    }

    input {
      width: 100%;
      text-align: center;
      border-radius: 16px;
      border: 1px solid $primary-color;

      &:focus {
        padding: 0px;
        outline: none;
      }
    }
  }
}
